<h1>Admin</h1>

<form action='/admin' method='post' class="form-inline well">
  <input type="text" name='login' placeholder="login" autofocus>
  <input type="password" name="password" placeholder="password" autofocus>
  <input class="btn primary" type='submit' value='log in'>

</form>

<%= @report %>